.blue_btn{
    text-align: center;
    background: #2196F3;
    border-bottom: 1px solid #d7d7d7;
    padding: 5px 0;
    cursor: pointer;
    color: #eeeeee;
    font-weight: 500;
    font-size: 15px;
}